permissions:
  contents: write

name: build.yml
on:
  push:
    tags:
      - 'v**'
    branches:
      - main
      - dev
      - refactor
  pull_request:
    branches:
      - main
      - dev
      - refactor

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: 'actions/checkout@v5'
        with:
          lfs: 'true'

      - name: Set up Go
        uses: 'actions/setup-go@v5'
        with:
          go-version: '1.23.4'

      - name: Lint
        uses: 'golangci/golangci-lint-action@v8'
        with:
          version: 'latest'

      - name: Install dependencies
        run:  brew tap slp/krun && brew install virglrenderer libepoxy molten-vk clang-format llvm

      - name: Build
        run: ./build_ovm_darwin_arm64.sh
      - name: Upload artifact
        uses: 'actions/upload-artifact@v4'
        with:
          name: revm
          path: revm-*.tar.zst
          if-no-files-found: error
          overwrite: true
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
            revm-*.tar.zst
          append_body: true
          draft: false
          prerelease: false
          make_latest: true